:root {
    --color-dark-blue:#29344d;
    --color-light-green: #A6d49f;
    --color-light-blue: #91c4f2;
    --color-text-light: rgb(255, 255, 255);
}

body {
    background-color: var(--color-dark-blue);
}