:root {
    --fs-xl: 5rem;
    --fx-l: 3rem;
    --fx-m: 1.5rem;
    --fx-s: 1rem;

    --color-dark-blue:#29344d;
    --color-light-green: #A6d49f;
    --color-light-blue: #91c4f2;
    --color-text-light: rgb(224, 224, 224);
}

body {
    background-color: var(--color-dark-blue);
}